<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
    <h1>Create Customer</h1>
    <p><a href="/provinces">Province List</a></p>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
    <form th:action="@{/provinces/create}" method="post" th:object="${province}">
        <table>
            <tr>
                <td>First Name</td>
                <td><input type="text" th:field="*{name}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Create"></td>
            </tr>
        </table>
    </form>
</body>
</html>