<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Province</title>
</head>
<body>
    <h1>Update Province</h1>
    <p><a href="/provinces">Comback list Province</a></p>

<!--<form th:action="@{/edit/__${customer.getId()}__}" th:object="${customer}" method="post">-->
<form th:action="@{/provinces/edit}" th:object="${province}" method="post">
    <input type="hidden" th:field="*{id}">
    <table>

        <tr>
            <td> Name </td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
    </table>
    <input type="Submit" value="Update">
</form>
</body>
</html>